<div class="text2">
<h1 style ="text-align= center; color:red;">User has been created</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
  
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Email_id:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
</div>