<!DOCTYPE html>
<html>
  <head>
    <title>IoTproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'post_layout'%>
  </head>

  <body>

<nav class="navbar navbar-inverse" style="margin-bottom:0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/homes/index">IOTAshusu</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homes/index">Home</a></li>
      <li class="active"><a href="/about_us">About us</a></li>
      <li class="active"><a href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/users/log_out"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>


<div style="min-height: 600px;">
 <%= image_tag "iot-1920.jpg",  class: "bevel" %>
  <%= yield %>
 </div>
 
<div class="footer">
  <p>Copyright@ AShu.inc 2019</p>
</div> 


  </body>
</html>